@import url("font.css");
*{
  font-family:'Poppins', sans-serif;
  box-sizing:border-box;
}
.pattern{
  background-image:url("hero-bg.png");
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
  padding:10em 5em;
}